<form action="/session/create" method="POST">
    <h1>Sign In</h1>


    <input type="text" placeholder="Username" name="username">
    <input type="password" placeholder="Password" name="password">
    <input type="submit" value="Sign In">
    <input type="hidden" name="_csrf" value="<% _csrf %>" />


</form>