<% if (req.session.flash && req.session.flash.err) { %>
    <ul>
        <% Object.keys(req.session.flash.err).forEach(function(error) { %>
            <li>
                <%- JSON.stringify(req.session.flash.err[error]) %>
            </li>
            <% }) %>
    </ul>
    <% } %>

        <h1>Sign In</h1>
        <form action="/session/create" method="POST">

            <input type="text" placeholder="Username" name="username">
            <input type="password" placeholder="Password" name="password">
            <input type="submit" value="Sign In">
            <input type="hidden" name="_csrf" value="<%= _csrf %>" />


        </form>

        <h1>Create an account</h1>


        <form action="/user/create">
            <input type="username" placeholder="username" name="username">
            <input type="password" placeholder="password" name="password">
            <input type="password" placeholder="confirm password" name="confirmation">
            <input type="submit" value="Create">
            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        </form>